.admin-panel-container {
    padding: 40px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 20px auto;
  }
  
  .admin-section {
    margin-bottom: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .admin-section h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }

  .form-group input[type="file"] {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    cursor: pointer;
  }
  
  .form-group input,
  .form-group select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .form-group button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-group button:hover {
    background-color: #757575;
  }
  
  .admin-section ul {
    list-style: none;
    padding: 0;
  }
  
  .admin-section li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .admin-section li button {
    padding: 5px 10px;
    font-size: 0.9rem;
    background-color: #df505f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .admin-section li button:hover {
    background-color: #ff0019;
  }
  
  .admin-section li button + button {
    background-color: black;
    margin-left: 10px;
  }
  
  .admin-section li button + button:hover {
    background-color: #757575;
  }